{
    "ref_path": "/path/to/ref/genome.fa",
    "delly_image": "/path/to/delly.sif",
    "staging_dif": "/path/to/staging/",
    "out_dir": "/path/to/out",
    "do_delete": false, # Target Generation - if staging from EGA File IDs, create Targets to remove the staged files
    "do_encrypt": false, # Target Generation - create Targets to encrypt
    "" 
}
